{% extends 'base.html.twig' %}

{% block title %} Symphart Articles {% endblock %}

{% block body %}
    {% if articles %}
        <table id="articles" class="mx-auto">
            <thead>
                <tr>
                <th>Article Title</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    {% include('/inc/article_list_item.html.twig')  %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No articles to display </p>
    {% endif %}
{% endblock %}

{% block javascripts%}
    <script src="/js/main.js" defer></script>
{% endblock%}