{% extends "base.html.twig" %}

{% block title %} User {% endblock %}

{% block body %}

<h1>{{user.username ?: 'Anonymous' }}</h1>
    {% if articles %}
        <table id="articles">
            <thead>
                <hr>
            </thead>
            <tbody>
                {% for article in articles %}
                    {{ include('/inc/article_list_item.html.twig') }}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> {{user.username}} Does Not Have Any Posts </p>
        
    {% endif %}

{% endblock %}

